<section class="my-4 text-center">
  <p class="lead">
    Welcome,
    <strong>
      <%= current_user.username if signed_in?%>
      <%= 'Guest' if !signed_in?%>
    </strong>
  </p>
</section>

<section>
  <h1>All Events (<%= Event.all.count %>)</h1>
  <% unless Event.upcoming.empty? %>
    <div class="my-4">
      <h3 class="text-info pb-2">Upcoming events</h3>
      <div class="row">
        <% Event.upcoming.each do |event| %>
          <div class="col-md-6 col-lg-4 card shadow">
            <%= render event %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
  <% unless Event.past.empty? %>
    <div class="my-4">
      <h3 class="text-warning">Previous events</h3>
      <div class="row">
        <% Event.past.each do |event| %>
          <div class="col-md-6 col-lg-4 card shadow">
            <%= render event %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</section>
